:root {
    --color-primary: #408446;

    --color-background: #fff;
    --color-background-secondary: #f5faf5;

    --color-ripple: rgb(158 217 164 / 30%);

    --color-input-border: #adc7af;
    --color-input-background: #f8fcf8;
    --color-input-placeholder: #4c764f;
    --color-input-border-danger: red;
    --color-input-background-danger: #ffe5e5;
    --color-input-placeholder-danger: #d02f2f;

    --color-text: #000;
    --color-text-secondary: #2e2e2e;
}
